* {
    font-family: "Source Code Pro";
    font-weight: bold;
    font-size: 13px;

    padding-left: 7.5px;
    padding-right: 7.5px;
}

window#waybar {
    background: #191724;
    color: #e0def4;
}

tooltip {
    background: #1f1d2e;
    border: none;
}

button:hover {
    box-shadow: none;
}

.drawer {
    padding-right: 0px;
    padding-left: 0px;
}

#custom-mullvad {
    padding-right: 15px;
}

.mullvad-connected {
    color: #31748f
}

.mullvad-disconnected {
    color: #eb6f92
}

#workspaces {
    padding-left: 0px;
    color: #908caa;
}

#workspaces button {
    background: #191724;
    text-shadow: none;
    border: none;
}

#workspaces button.focused {
    color: #e0def4;
}

#network.disconnected {
    color: #eb6f92;
}
